/* General */
:root{
    --light-red : hsl(356, 100%, 66%);
    --very-light-red : hsl(355, 100%, 74%);
    --very-dark-blue : hsl(208, 49%, 24%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --light-grey: hsl(240, 7%, 94%);
    --grayish-blue: hsl(240, 2%, 79%);
    --very-dark-grayish-blue: hsl(207, 13%, 34%);
    --very-dark-black-blue: hsl(240, 10%, 16%);
    --very-light-red-gradient: hsl(13, 100%, 72%);
    --light-red-gradient: hsl(353, 100%, 62%);
    --very-dark-gray-blue-gradient: hsl(237, 17%, 21%);
    --very-dark-desaturated-blue-gradient: hsl(237, 23%, 32%);
    --Ubuntu: 'Ubuntu', sans-serif;
    --Overpass: 'Overpass', sans-serif;
}

p{
    letter-spacing: 1px;
    line-height: 28px !important;
}

.d-none{
    display: none !important;
}

/* Header */
header{
    height: 600px;
    background-image: url("./images/bg-pattern-intro-desktop.svg"), linear-gradient( var(--very-light-red-gradient), var(--light-red-gradient));
    background-position: center left -400px, center;
    background-repeat: no-repeat;
    border-bottom-left-radius: 100px;
    color: var(--white);
    font-family: var(--Ubuntu);
    text-align: center;
}

.navbar__nav{
    width: 90%;
    position: absolute;
    top: 20px;
    right: 50%;
    margin-left: -45%;
    left: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger-menu{
    display: none;
}

.navbar__nav__ul{
    margin-left: 25px;
    flex: 4;
    display: flex;
    justify-content: space-between;
}

.navbar__nav__ul_itens, .create-account{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
}

.navbar__nav__ul_itens > div{
    margin-right: 30px;
    position: relative;
}

.navbar__nav__ul_itens > div:first-child{
    margin-left: 80px;
}

.create-account a{
    color: var(--white);
    text-decoration: none;
    margin-right: 10px;
}

.navbar__nav__ul_itens .menu{
    height: 30px;
    cursor: pointer;
}
.navbar__nav__ul_itens .menu:hover{
    font-weight: bold;
}

.down-arrow::after{
    content: url('./images/icon-arrow-light.svg');
    margin-left: 10px;
}

.up-arrow::after{
    content: url('./images/icon-arrow-light.svg');
    display: inline-block;
    transform: rotate(180deg);
    margin-left: 10px;
}


.navbar__nav__ul_itens .menu:hover::before{
    display: block;
    content: '';
    width: 75%;
    height: 1px;
    background: var(--white);
    position: absolute;
    bottom: 5px;
    left: 0;
}

/* Main title */
.title-container{
    position: absolute;
    top: 200px;
    width: 100%;
    text-align: center;
    font-family: var(--Overpass);
    font-weight: 600;
    color: var(--white);
}

.title-container__div > h2{
    font-size: 60px;
}

.title-container__div > p{
    font-weight: 300;
    margin: 30px 0;
}

/* buttons */
.title-container__div a, .btn-white{
    border: 1px solid var(--white);
    padding: 10px 15px;
    border-radius: 20px;
    margin: 0px 10px;
    text-decoration: none;
}

.title-container__div a{
    font-family: var(--Ubuntu);
}

.btn-white{
    border-color: var(--white)!important;
    background-color: var(--white)!important;
    color: var(--light-red)!important;
}

.btn-white:hover{
    transition: 1s;
    border-color: var(--very-light-red)!important;
    background-color: var(--very-light-red)!important;
    color: var(--white)!important;
}

.title-container__div a{
    background: linear-gradient(var(--light-red));
    color: var(--white);
}

.title-container__div a:hover{
    transition: 1s;
    background-color: var(--white);
    color: var(--light-red);
    border-color: var(--white);
}

/* The first Section */
.designed_for_the_future{
    height: 100vh;
    background: url('./images/illustration-editor-desktop.svg') no-repeat;   
    background-position: center right -210px, center;
    background-size: 750px;
}

.designed_for_the_future__div{
    width: 80%;
    height: 86%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: var(--Ubuntu);
}

.designed_for_the_future__div h2{
    font-size: 30px;
    font-weight: 700;
    color:  var(--very-dark-grayish-blue);
}

.designed_for_the_future__div > h2{
    font-size: 45px;
    text-align: center;
}

.designed_for_the_future__div p{
    width: 480px;
    margin-top: 25px;
    font-weight: 300;
}

/* The Second Section */
.state_of_art{
    height: 50vh;
    position: relative;
    background: url("./images/bg-pattern-circles.svg") no-repeat left bottom, linear-gradient(to right, var(--very-dark-desaturated-blue-gradient), var(--very-dark-desaturated-blue-gradient));
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    font-family: var(--Overpass);
    color: var(--white);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.state_of_art img{
    width: 400px;
    position: absolute;
    top: -60px;
    left: 0px;
}

.state_of_art_text{
    width: 60%;
}

.state_of_art_text h2, .state_of_art_text p{
    width: 510px;
    margin: 0 auto;    
}

.state_of_art_text h2{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}

/* The third section */
.explanation{
    height: 100vh;
    font-family: var(--Overpass);
    background: url('./images/illustration-laptop-desktop.svg') no-repeat;   
    background-position: center left -215px, center;
    background-size: 750px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.explanation__div{
    width: 60%;
}

.explanation__div div{
    width: 600px;
}

.explanation__div h3{
    font-family: var(--Ubuntu);
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 25px;
    color:  var(--very-dark-grayish-blue);
}
.explanation__div div:last-child h3{
    margin-top: 25px;
}
